{% extends 'FrontEndApp/base.html' %}
{% load crispy_forms_tags %}

{% block block1 %}
    <title>Change Password</title>
{% endblock %}


{% block block2 %}
<div class="container" style="width:30%">
    <h1 style="text-align:center">Log In</h1>
<form method="post" class="jumbotron">
    {% csrf_token %}

    User Name:<input type="text" name="un" class="form-control"><br><br>
    Old-Password:<input type="password" name="ops" class="form-control"><br><br>
    New-Password:<input type="password" name="nps" class="form-control"><br><br>
    Re-Enter New Password:<input type="password" name="rnps" class="form-control"><br><br>


    {% if messages %}
            {% for msg in messages %}
            {{ msg }}
            {% endfor %}
    {% endif %}

    <input type="submit" value="Change Password" class="btn btn-info">
</form>
    </div>
{% endblock %}